body {
  background-color: var(--background-color);
  color: var(--text-color);

}
@media (prefers-color-scheme: dark) {
  body {
      background-color: black;
      color: white;
  }
}

.App-header {
  background-color: #3a6a62;
  padding: 1.5rem;
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
}


.profile-image {
  border-radius: 10%;
  object-fit: cover;
  max-height: 9rem;
  animation: bounceInOut 1s forwards;
}

@keyframes bounceInOut {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
main {
  padding: 1.5rem;
  display: flex;
  flex-flow: column;
}

ul {
  list-style-type: square;
  padding-left: 1rem;
}

li {
  margin: 0.75rem 0;
}

a {
  color: #2a6254;
  text-decoration: none;
}



