body {
  text-align: center;
  background: linear-gradient(#0d2d2c, #0f3a3b);
  color: #ffffff;
  font-style: italic;
}

.App-header {
  position: relative;
  display: flex;
  justify-content: center;
}


.profile-image {
  border-radius: 10%;
  object-fit: cover;
  max-height: 9rem;
  animation: bounceInOut 1s forwards;
}

main {
  padding: 1.5rem;
  display: flex;
  flex-flow: column;
}

ul {
  list-style-type: square;
  padding-left: 1rem;
}

li {
  margin: 0.75rem 0;
}

a {
  color: #ffffff; 
  text-decoration: none;
}



